*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.form{
    width: 35%;
    height: 90%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(img/body.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.form__header{
    width: 70%;
    height: 100px;
    position: absolute;
    margin: auto;
    left: -5px;
    right: 0;
}

.form__header_text{
    display: inline-block;
    width: 60px;
    height: 26px;
    font-size: 18px;
    font-family: "Quicksand";
    color: rgb(251, 246, 228);
    font-weight: bold;
    line-height: 1.2;
    margin-top: 100px;
    color: #e1c2f1;
}

.form__header_text--dorder{
    border-bottom: 2px solid #e66a64;
    text-align: center;
    color: white;
}

.form__header_text:active{
    border-bottom: 2px solid #e66a64;
    text-align: center;
    color: white;
}

.form__information{
    margin-top: 100px;
    height: 350px;
    margin: auto;
    left: -5px;
    right: 0;
}

label{
    width: 100%;
    margin-top: 50px;
    font-size: 16px;
    font-family: "Quicksand";
    color: rgb(251, 246, 228);
    line-height: 2.4;
    text-align: left;
    position: absolute;
    letter-spacing: 1px;

}

.form__input{
    background-color: transparent;
    border: 2px solid #917ec4;
    width: 100%;
    box-sizing: border-box;
    height: 3.5vw;
    
}
.password{
    margin-top: 190px;
    width: 100%;
    font-size: 16px;
    font-family: "Quicksand";
    color: rgb(251, 246, 228);
    line-height: 2.4;
    text-align: left;
    position: absolute;
    letter-spacing: 1px;
}

.form__checkbox{
    margin-top: 250px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

p{
    font-size: 13px;
    font-family: "Quicksand";
    color: rgb(251, 246, 228);
    font-weight: bold;
    text-align: left;
    position: absolute;

}